<link rel="import" href="dc-import.html" />
<dom-module id="dc-chained-charts">
    <link rel="stylesheet" href="../../bower_components/dcjs/dc.css">
    <template>
        <div id="chartWrapper">
            <div id="items-sold-by-date">
                <strong>Amount of pizza sold by dates</strong>
                <a class="reset">Reset</a>
                <div class="clearfix"></div>
            </div>
            <div id="items-sold-by-type-bar">
                <strong>Pizza types sold</strong>
                <a class="reset">Reset</a>
                <div class="clearfix"></div>
            </div>
            <div id="items-sold-by-type-pie">
                <strong>Pizza types returned</strong>
                <a class="reset">Reset</a>
                <div class="clearfix"></div>
            </div>
        </div>
    </template>
</dom-module>
<script>
    Polymer({
        is: "dc-chained-charts",
        properties: {
            height: {
                type: Number,
                reflectToAttribute: true
            }
        },
        resize: function() {
            var newWidth = document.getElementById('chartWrapper').offsetWidth;
            dc.chartRegistry.list().forEach(function(chart){
                chart.width(newWidth).transitionDuration(0);
                chart.render();
                chart.transitionDuration(750);    
            });
        },
        ready: function () {
            var self = this;
            var parseDate = d3.time.format("%d/%m/%Y").parse;
            d3.csv("pizza_data.csv", function (data) {
                data.forEach(function (d) {
                    d.date = parseDate(d.date);
                    d.items_sold = +d.items_sold;
                    d.items_returned = +d.items_returned;
                });

                var ndx = crossfilter(data);

                var dateDimension = ndx.dimension(function (d) {
                    return d.date;
                });
                var typeDimension = ndx.dimension(function (d) {
                    return d.pizza_type;
                });
                var soldByDateGroup = dateDimension.group().reduceSum(function (d) {
                    return d.items_sold;
                });
                var soldByTypeGroup = typeDimension.group().reduceSum(function (d) {
                    return d.items_sold;
                });
                var returnedByTypeGroup = typeDimension.group().reduceSum(function (d) {
                    return d.items_returned;
                });
                var width = document.getElementById('chartWrapper').offsetWidth;

                var itemsSoldChart = dc.lineChart("#items-sold-by-date");
                itemsSoldChart
                        .width(width)
                        .height(self.height)
                        .margins({top: 10, right: 50, bottom: 40, left: 50})
                        .dimension(dateDimension)
                        .group(soldByDateGroup, "Items sold")
                        .x(d3.time.scale())
                        .elasticX(true)
                        .elasticY(true)
                        .renderHorizontalGridLines(true)
                        .legend(dc.legend().x(70).y(10).itemHeight(13).gap(5))
                        .xAxisLabel("Date")
                        .yAxisLabel("Items sold")
                        .xAxis().tickFormat(d3.time.format("%d/%m/%Y"));

                var itemsSoldByTypeChart = dc.barChart("#items-sold-by-type-bar");
                itemsSoldByTypeChart
                        .width(width)
                        .height(self.height)
                        .margins({top: 10, right: 50, bottom: 40, left: 50})
                        .dimension(typeDimension)
                        .group(soldByTypeGroup, "Types sold")
                        .x(d3.scale.ordinal())
                        .xUnits(dc.units.ordinal)
                        .elasticX(true)
                        .elasticY(true)
                        .renderHorizontalGridLines(true)
                        .legend(dc.legend().x(70).y(10).itemHeight(13).gap(5))
                        .xAxisLabel("Pizza type")
                        .yAxisLabel("Items sold");

                var itemsSoldPieChart = dc.pieChart("#items-sold-by-type-pie");
                itemsSoldPieChart
                        .width(width)
                        .height(self.height)
                        .dimension(typeDimension)
                        .group(returnedByTypeGroup, "Returned")
                        .renderLabel(true)
                        .innerRadius(40);
                
                d3.select("#items-sold-by-date").select("a.reset").on('click', function () {
                    itemsSoldChart.filterAll();
                    dc.redrawAll();
                });
                
                d3.select("#items-sold-by-type-bar").select("a.reset").on('click', function () {
                    itemsSoldByTypeChart.filterAll();
                    dc.redrawAll();
                });

                d3.select("#items-sold-by-type-pie").select("a.reset").on('click', function () {
                    itemsSoldPieChart.filterAll();
                    dc.redrawAll();
                });
                
                dc.renderAll();
                window.addEventListener('resize', self.resize);
            });
        },
        detached: function() {
            window.removeEventListener('resize', this.resize);
            d3.select("#chartWrapper").selectAll("a.reset").on('click', null);
        }
    });
</script>